.buy {
    margin-bottom: 100px;
    &__container {
        padding-top: 105px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 30%;
            width: 966px;
            height: 660px;
        }
    }
    &__card {
        height: 550px;
        background: #151515;
        border-radius: 15px;
        padding: 60px;
        display: flex;
        justify-content: space-between;
        @media (max-width:$tablet) {
            flex-direction: column;
            justify-content: space-between;
        }
    }
    &__block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }
    &__title {
        margin-bottom: 10px;
    }
    &__price {
        font-weight: 600;
        font-size: 30px;
        line-height: 110%;
        color: #FF4C0D;
        margin-bottom: 30px;
    }
    &__btn {
        background: #FF4C0D;
    }
}

html {
    &.light {
        body {
            .buy {
                &__card{
                    background:#f1f1f1;
                }
                &__btn {
                    background:#FF4C0D;
                }
                &__container {
                    &::after {
                        background: url('./img/buy/black.png') center / cover no-repeat;
                    }
                }
            }
            .spoiler {
                &-header {
                    &.active {
                        @media (max-width:$tablet) {
                            background-color: #151515;
                            .spoiler-header__title {
                                color: #f1f1f1;
                            }
                        }
                    }
                }
                &-content {
                background-color: #f1f1f1;
                }
            }
        }
    }
    &.dark {
        body {
            .buy {
                &__card{
                    background:#151515;
                }
                &__btn {
                    background:#FF4C0D;
                }
                &__container {
                    &::after {
                        background: url('./img/buy/white.png') center / cover no-repeat;
                    }
                }
            }
            .spoiler {
                &-header {
                    &.active {
                        @media (max-width:$tablet) {
                            background-color: #f1f1f1;
                            .spoiler-header__title {
                                color: #151515;
                            }
                        }
                    }
                }
                &-content {
                background-color: #151515;
                }
            }
        }   
    }
}



//? Спойлер ===================================================================================================================================================================
.spoiler {
    width: 200px;
    position: relative;
    z-index: 2;
    @media (max-width:$tablet) {
        margin-top: 20px;
    }
    &-header {
        position: relative;
        margin: 0 auto;
        font-size: 20px;
        line-height: 120%;
        font-weight: 600;
        cursor: pointer;
        @media (max-width:$tablet) {
            text-align: center;
        }
        &.active {
            border-radius: 15px;
        }
        &__title {
            transition: all .3s;
        }
    }
    &-content {
        display: block;
        opacity: 0;
        margin: 0 auto;
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease-out;
        border-radius: 15px;
        &.active {
            opacity: 1;
            overflow: visible;
        }
        .kit__list {
            margin-top: 20px;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            @media (max-width:$tablet) {
                text-align: center;
                padding: 10px;
                margin-top: 10px;
            }
            li {
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    } 
}