//* Підвал сайту
.footer {
    margin: 60px 0;
    &__container {
        display: flex;
        justify-content: space-between;
        @media (max-width: $mobile) {
            flex-direction: column;
        }
    }
    &__box {
        line-height: 150%;
        &:last-child {
            text-align: right;
            @media (max-width: $mobile) {
                text-align: center;
            }
        }
        @media (max-width: $mobile) {
            text-align: center;
        }
        p {
            padding: 5px 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    a {
        transition: color 0.3s;
        padding: 5px 0;
    }
}
html {
    &.light {
        .footer {
            a {
                color: #151515;
                &:hover {
                    color: #fd4900;
                }
            }
        }
    }
    &.dark {
        .footer {
            a {
                color: #F1F1F1;
                &:hover {
                    color: #fd4900;
                }
            }
        }
    }
}