//* Шапка сайту

//? Шапка ===================================================================================================================================================================
$headerColor: transparent; // колір
$headerMinHeight: 54px; // мінімальна висота

//? Кнопки випадаючого списку ===============================================================================================================================================
$sublinkMargin: 15px; // відступи між кнопками

//? Бургер ==================================================================================================================================================================
$burgerWidth: 24px;
$burgerHeight: 16px;
$burgerColor: #231f20; //колір

//? Панель меню (max-width: 767px) ==========================================================================================================================================
$transitionHorizontalPosition: 0; // поява панелі меню (зверху: -100% / знизу: 100% / відміна: 0)
$transitionVerticalPosition: -100%; // поява панелі меню (зліва: -100% / зправа: 100% / відміна: 0)

.header {
    margin-top: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $headerColor;
    z-index: 10;
    &__container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: $headerMinHeight;
        padding: 15px $containerPadding + px;
    }
    &__logo {
        position: relative;
        z-index: 5;
        width: 60px;
        height: 40px;
    }
}
html {
    .menu {
        flex: 1 1 100%;
        margin: 0 40px;
        &__link {
            color: #F1F1F1;
            transition: color 0.3s;
            font-size: 16px;
            font-weight: 600;
        }
        &__list > li {
            margin: 0 10px;
            position: relative;
        }
    }
    &.light {
        .menu__link {
            color: #151515;
        }
    }
    &.dark {
        .menu__link {
            color: #F1F1F1;
        }
    }
}


body {
    &.lock {
        overflow: hidden;
    }
    //* Івенти для девайсів з курсором
    &._cursor {
        .menu {
            //* Стилізація кнопок меню при наведенні
            &__link:hover {
                color: #fd4900;
            }
        }
    }
    //* Івенти для сенсорних девайсів
    &._touch {
        .menu__list > li {
            display: flex;
            align-items: center;
        }
        .menu__link {
            flex: 1 1 auto;
            //* Стилізація кнопок меню при touch івенті
            &:active {
                color: #fd4900;
            }
        }
    }
}

@media (min-width: $tablet) {
    .menu {
        &__list {
            display: flex;
            align-items: center;
        }
        &__link {
            padding: 10px;
        }
    }
}
@media (max-width: $tablet) {
    .header-btn {
        display: none;
    }
    html {
        &.light {
            .menu {
                &__body {
                    background-color: rgba(0, 0, 0, .6);
                }
                &__link {
                    color: #F1F1F1;
                }
            }
        }
        &.dark {
            .menu {
                &__body {
                    background-color: rgba(255, 255, 255, .6);
                }
                &__link {
                    color: #151515;
                }
            }
        }
        .menu {
            flex: 0 0 54px;
            margin: 0;
            border-radius: 50%;
            height: 54px;
            background-color: #f1f1f1;
            display: flex;
            justify-content: center;
            align-items: center;
            &__burger {
                position: relative;
                display: block;
                width: $burgerWidth;
                height: $burgerHeight;
                cursor: pointer;
                z-index: 5;
                span {
                    top: 50%;
                    transform: scale(1) translateY(-50%);
                }
                &::before {
                    content: '';
                    top: 0;
                }
                &::after {
                    content: '';
                    bottom: 0;
                }
                &.active {
                    span{
                        transform: scale(0) translateY(-50%);
                    }
                    &::before {
                        top: 50%;
                        transform: rotate(-45deg) translate(3%, -20%);
                    }
                    &::after {
                        bottom: 50%;
                        transform: rotate(45deg) translate(3%, 20%);
                    }
                }
            }
            &__body {
                padding: 120px 30px 30px 30px;
                position: fixed;
                top: $transitionHorizontalPosition;
                right: $transitionVerticalPosition;
                width: 400px;
                height: 100%;
                transition: all .3s ease;
                overflow: auto;
                &.active {
                    right: 0;
                    top: 0;
                }
                &::before {
                    content: '';
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: $headerMinHeight;
                    background-color: $headerColor;
                    z-index: 2;
                }
            }
            &__list {
                width: 100%;
            }
            &__list > li {
                margin: 0 0 30px 0;
                flex-wrap: wrap;
                &:last-child {
                    margin-bottom: 0;
                }
                &.active {
                    .menu {
                        display: block;
                    }
                }
            }
            &__link {
                font-size: 24px;
                text-align: center;
            }
        }
    }
    .menu__burger span, .menu__burger::before, .menu__burger::after {
        position: absolute;
        left: 0;
        height: 10%;
        width: 100%;
        background-color: $burgerColor;
        transition: all .3s ease;
    }
}
@media (max-width: 500px) {
    html .menu {
        flex: 0 0 44px;
        height: 44px;
    }
    .header__logo {
        width: 45px;
        height: 30px;
    }
}