.security {
    &__tab, .tab {
        &::before {
            top: 64px;
        }
        &__item {
            flex: 0 0 calc((100% - 120px) / 4);
        }
        &__title {
            height: 48px;
            width: 200px;
            @media (max-width: $tablet) {
                height: auto;
                width: auto;
            }
        }
        &__img img:nth-child(2) {
            flex: 0 1 360px;
            height: 75%;
            transform: scale(1);
            @media(max-width: $pc) {
                display: none;
            }
        }
    }
}