.speed {
    padding: 120px 0;
    background: url('./img/speed_bg/pc.jpg') center right / cover no-repeat;
    @media (max-width: $tablet) {
        padding: 40px 0;
    }
    @media (max-width: $mobile) {
        background-position: center;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }
    &__logo {
        margin-bottom: 150px;
        @media (max-width: 500px) {
            width: 45px;
        }
    }
    &__text {
        color: #F1F1F1;
    }
    &__title {
        font-weight: 500;
        @include adaptiv-value("font-size", 45, 25, 1);
        line-height: 110%;
        margin-bottom: 30px;
    }
    &__subtitle {
        font-weight: 400;
        @include adaptiv-value("font-size", 14, 12, 1);
        line-height: 150%;
        letter-spacing: -0.01em;
    }
}