//* button
.btn {
    height: 54px;
    left: 1178px;
    padding: 0 36px;
    border-radius: 65px;
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    transition: background-color 0.5s, color 0.5s;
}
html.light body,
html.dark body {
    &._cursor .btn {
        &:hover {
            background-color: rgba(253, 73, 0, 0.8);
            color: #fff;
        }
    }
    &._touch .btn {
        &:active {
            background-color: rgba(253, 73, 0, 0.8);
            color: #fff;
        }
    }
}
html.light body .btn {
    background: #151515;
    color: #f1f1f1;
}
html.dark body .btn {
    background: #f1f1f1;
    color: #151515;
}

//* background and text
html {
    transition: background 0.5s;
    &.light {
        background: #e0e0e0;
        body {
            color: #151515;
        }

    }
    &.dark {
        background: #222;
        body {
            color: #F1F1F1;
        }
    }
}

//* title
.title {
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 45px;
    @include adaptiv-value("font-size", 45, 25, 1);
    line-height: 110%;
    @media (max-width: $tablet) {
        font-weight: 600;
    }
}
html {
    &.light {
        .title {
            color: #151515;
        }
    }
    &.dark {
        .title {
            color: #F1F1F1;
        }
    }
}