.btn {
    //width: 122px;
    height: 54px;
    left: 1178px;
    padding: 0 36px;
    background: #F1F1F1;
    border-radius: 65px;
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #151515;
    transition: background-color 0.3s, color 0.3s;
}
html {
    &.light {
        background: #e0e0e0;
    }
    &.dark {
        background: #222;
    }
}
body {
    &._cursor {
        .btn {
            &:hover {
                background-color: rgba(253, 73, 0, 0.8);
                color: #fff;
            }
        }
    }
    &._touch {
        .btn {
            &:active {
                background-color: rgba(253, 73, 0, 0.8);
                color: #fff;
            }
        }
    }
}