//* Базове обнулення і нормалізація

//? Обнулення стилів
* {margin: 0; padding: 0; border: 0}
*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box}
:focus, :active {outline: none}
a:focus, a:active {outline: none}
nav, header, footer, aside {display: block}
html, body {height: 100%; width: 100%; font-size: 100%; font-size: $fontSize; line-height: 1; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%}
input, button, textarea {font-family: inherit}
input::-ms-clear{display: none}
button {cursor: pointer}
button::-moz-focus-inner {padding: 0; border: 0}
a, a:visited{text-decoration: none}
a:hover {text-decoration: none}
ul {li{list-style: none}} 
img {vertical-align: top}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: 400}

//? Базові стилі
body {
    font-family: $fontFamily;
    font-weight: $fontWeight;
    color: $fontColor;
    box-sizing: border-box;
}
.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.container {
    margin: 0 auto;
    padding: 0 $containerPadding + px;
    max-width: $maxContainerWidth + px;
    //TODO:1 Для адаптації по брейк-поінтах
    /* @media (max-width: $pc) {
        max-width: 970px;
    }
    @media (max-width: $tablet) {
        max-width: 750px;
    } */
    @media (max-width: $mobile) {
        max-width: none;
        padding: 0 10px;
    }
}
main {
    flex: 1 1 auto;
}