//* Модальне вікно сайту

//? Фон ===================================================================================================================================================================
$popupBgColor: rgba(0, 0, 0, .5);

//? Діалогове вікно =======================================================================================================================================================
$popupMaxWidth: 800px;
$popupMaxHeight: 100%;
$popupColor: #fff;
$popupMargin: 50px 20px;
$popupPadding: 40px 20px;
$popupBorder: 1px solid rgba(0, 0, 0, .2);
$popupBorderRadius: 4px;

.popup {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $popupBgColor;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    &__dialog {
        position: relative;
        margin: $popupMargin;
        padding: $popupPadding;
        max-width: $popupMaxWidth;
        background-color: $popupColor;
        border: $popupBorder;
        border-radius: $popupBorderRadius;
        max-height: $popupMaxHeight;
    }
    &__close {
        position: absolute;
        top: 8px;
        right: 14px;
        font-size: 30px;
        color: #333;
        font-weight: 700;
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: all .3s;
    }
    &__title {
        text-align: center;
        font-size: 22px;
    }
    &__input {
        display: block;
        margin: 20px auto 20px auto;
        width: 280px;
        height: 50px;
        background: #fff;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
        border: none;
        font-size: 18px;
        text-align: center;
        padding: 0 20px;
        outline: 0;
    }
    .btn {
        display: block;
        width: 280px;
        margin: 0 auto;
    }
}
.btn {
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
    cursor: pointer;
    transition: .3s all;
    outline: 0;
    background-color: #303030;
    color: #fff;
    border: none;
}
body._cursor .popup__close:hover {
    color: red;
    transform: scale(1.1);
}