//* Слайдер "Slick"

//TODO: якщо swiper знаходиться в flex контейнері або сам є flex елементом, то для коректного відображення контейнеру слід задати параметр {min-width: 0}
//? Загальні налаштування (для всіх слайдерів) ===============================================================================================================================================================================================
.slick {
    /* 
    &-slider{ //* Слайдер

    }
    */
    &-list { //* Контейнер слайдів
        overflow: hidden;
    }
    &-track { //* Лента слайдів
        display: flex;
    }
    /* 
    &-slide { //* Слайд

        &.slick-active { //* Активний

        }
        &.slick-current { //* Основний

        }
        &.slick-center { //* По центру

        }
    }
    &-arrow { //* Стрілки

        &.slick-prev { //* Стрілка назад

        }
        &.slick-next { //* Стрілка вперед

        }
        &.slick-disabled { //* Неактивна стрілка

        }
    }
    &-dots { //* Точки

        li {

        }
        button {

        }
    } 
    */
}
//? Конкретні налаштування ==============================================================================================================================================================================================
.slider { //* клас конкретного слайдера
    position: relative;
    padding: 0 50px;
    height: 500px;
    .slick {
        /*
        &-slider{ //* Слайдер
    
        }
        */
        &-list { //* Контейнер слайдів
            overflow: hidden;
        }
        &-track { //* Лента слайдів
            display: flex;
        }
        &-slide { //* Слайд
            height: 100%;
            /* 
            &.slick-active { //* Активний
    
            }
            &.slick-current { //* Основний
    
            }
            &.slick-center { //* По центру
    
            } 
            */
            img {
                max-height: 500px;
            }
        }
        &-arrow { //* Стрілки
            position: absolute;
            top: 50%;
            margin: -15px 0 0 0;
            z-index: 10;
            font-size: 0;
            width: 30px;
            height: 30px;
            background: url('icons/up_red.svg') 0 0 / 100% no-repeat;
            &.slick-prev { //* Стрілка назад
                left: 0;
                transform: rotate(-90deg);
            }
            &.slick-next { //* Стрілка вперед
                right: 0;
                transform: rotate(90deg);
            }
            &.slick-disabled { //* Неактивна стрілка
                opacity: 0.5;
                cursor: default;
            }
        }
        &-dots { //* Точки
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                margin: 0px 10px;
                &.slick-active {
                    button {
                        opacity: 1;
                    }
                }
            }
            button {
                font-size: 0;
                opacity: 0.5;
                width: 10px;
                height: 10px;
                background-color: red;
                border-radius: 50%;
            }
        }
    }
}

.slider__item {
    text-align: center;
}