//* ютуб плеєр

.player {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 10px;
    right: 10px;
    z-index: 10;
    &.active {
        .player__starter {
            display: none;
        }
        .player__content {
            width: 300px;
        }
        .player__info {
            width: 300px;
            height: 80px;
            border: 2px solid #000;
            border-top: none;
            &-controls {
                height: 50%;
                width: 100%;
                button {  
                    opacity: 1;   
                    svg {
                        padding: 5px;
                        width: 40px;
                        height: 100%;
                    }
                }
            }
        }
    }
    &__starter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: none;
        border: none;
        cursor: pointer;
    }
    &__list {
        width: 80px;
        height: 0;
        background: #000;
        border-left: 2px solid #000;
        border-right: 2px solid #000;
        transition: height 1s;
        &.active {
            height: calc(100vh - 322px);
            border-top: 2px solid #000;
        }
        &-panel {
            width: 100%;
            height: 40px;
            background: #555;
            border-bottom: 2px solid #000;
        }
        &-items {
            width: 100%;
            height: calc(100% - 40px);
            overflow: auto;
        }
        &-item {
            display: flex;
            margin-bottom: 1px;
            padding: 5px;
            justify-content: start;
            align-items: center;
            width: 100%;
            height: 60px;
            border: 0;
            background-color: #333;
            cursor: pointer;
            &.active {
                background-color: #555;
            }
            img {
                width: 88px;
                height: 50px;
                border: 2px solid #000;
                object-fit: cover;
            }
            .descr {
                margin-left: 5px;
                position: relative;
                display: flex;
                flex-direction: column;
                width: calc(100% - 88px);
                height: 50px;
                text-align: left;
                &-text {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 30px;
                    height: 30px;
                    font-size: 20px;
                    line-height: 28px;
                    text-align: center;
                    background-color: #555;
                    border: 2px solid #000;
                }
                &-name {
                    height: 20px;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 20px;
                    color: #fff;
                }
                &-singer {
                    height: 15px;
                    font-size: 12px;
                    line-height: 15px;
                    color: #fff;
                }
                &-number {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    height: 15px;
                    &-time, &-rating {
                        font-size: 12px;
                        line-height: 15px;
                        color: #fff;
                        span {
                            color: rgb(219, 219, 27);
                        }
                    }
                }
            }
        }
    }
    &__content {
        position: relative;
        width: 80px;
        padding-top: 56.25%;
        background: #000;
        border: 2px solid #000;
        transition: all 1s;
        &-shield, iframe {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        &-shield {
            opacity: 0;
            transition: opacity 1200ms;
            &.active {
                opacity: 1;
                transition: opacity 0s;
            }
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 80px;
        height: 0;
        background-color: #555;
        transition: height 1s, width 1s;
        &-descr {
            height: 50%;
            width: 100%;
            opacity: 0;
            overflow: hidden;
            transition: all .25s;
            &.show {
                opacity: 1;
            }
            .descr-jp, .descr-ua {
                width: 100%;
                height: 50%;
                font-size: 16px;
                font-weight: 700;
                text-align: center;
                color: #fff;
                transition: all 1s;
            }
            .descr-ua {
                border-bottom: 1px solid #000;
            }
        }
        &-controls {
            margin-left: auto;
            display: flex;
            justify-content: space-around;
            height: 0;
            width: 80px;
            transition: all 1s;
            button {
                opacity: 0;
                border: none;
                background-color: inherit;
                cursor: pointer;
                svg {
                    width: 0;
                    height: 0;
                    border-radius: 4px;
                    cursor: pointer;
                    transition: all .3s;
                }
            }
            .play-btn, .pause-btn {
                &.hidden {
                    display: none;
                }
            }
        }
    }
}