//* Загальні налаштування сайту

//? Шрифт за замовчуванням =======================================================================================================================
$fontFamily: "Gilroy"; // назва
$fontWeight: 400; // жирність
$fontSize: 14px; // розмір
$fontColor: #f1f1f1; // колір

//? Розміри сайту ================================================================================================================================
$minWidth: 320px; // мінімальний (з px)
$maxWidth: 1920; // максимальний (без px)

//? Розмір контейнера ============================================================================================================================
$maxWidthContainer: 1160; // макетна ширина контейнера (px)
$containerPadding: 20; // внутрішні горизонтальні відступи контейнера (px)
$maxContainerWidth: $containerPadding + $maxWidthContainer + $containerPadding; // браузерна ширина контейнера

//? Брейк-поінти =================================================================================================================================
$pc: $maxContainerWidth + px; // ПК, ноутбуки, деякі планшети в горизонтальному положенні
$tablet: 991.98px; // планшети, деякі телефони в горизонтальному положенні
$mobile: 767.98px; // великі телефони
$mobileSmall: 479.98px; // малі телефони

//? Базові стилі =================================================================================================================================
@import "base/_fonts";
@import 'base/_mixins';
@import 'base/_animations';
@import 'base/_null';

//? Імпорт модулів ===============================================================================================================================
@import 'modules/_header';
@import 'modules/_ui';
@import 'modules/_promo';
@import 'modules/_char';
@import 'modules/_speed';
@import 'modules/design';
@import 'modules/_security';
@import 'modules/_mobile_app';
@import 'modules/_brand';
@import 'modules/_reviews';
@import 'modules/_questions';
//@import 'modules/_swiperSlider';
//@import 'modules/_slickSlider';
//@import 'modules/_spoiler';
//@import 'modules/_form';
//@import 'modules/youtubePlayerAPI';
//@import 'modules/_footer';
//@import 'modules/_popup';
//@import 'modules/_scrollUpBtn';
//@import 'modules/_rating';
//@import 'modules/_lazyLoading';
//@import 'modules/_noUISlider';
//@import 'modules/_scrollBar';